@model IEnumerable<ArushaUniversity.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1 class="text-center students">Students</h1>
<div class="row">
    <div class="col-md-6 text-center">
        <p>
            <a asp-action="Create">Add new</a>
        </p>
    </div>
    <div class="col-md-6 text-center">
        <form asp-controller="Students" asp-action="Index">
            <p>
                Name : <input type="text" name="search">
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
